@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-primary" @onclick="InvokeSignalR">Listen to hub</button>

<button class="btn btn-primary" @onclick="SendToSignalR">Send to hub</button>

<button class="btn btn-primary" @onclick="GetApplicationInformation">Get App info</button>
<p role="status">App info: @appInfo</p>
